/* reset */
select:focus {
	outline:none
}

body {
	font-family:"Guardian Agate Sans",Arial,sans-serif;
	font-size:10px;
	color:#333;
	background-color:#4b4b4b
}

p {
	font-family:"Guardian Egyptian Headline",Georgia,serif;
	font-weight:200;
	font-size:1.8em;
	line-height:1.5em;
	color:#767676
}

h2 {
	font-family:"Guardian Egyptian Headline",Georgia,serif;
	font-weight:400;
	font-size:3em;
	line-height:1.2em;
	color:#333
}

h3 {
	font-family:"Guardian Egyptian Headline",Georgia,serif;
	font-weight:400;
	font-size:2.4em;
	line-height:1.05em;
	color:#333
}

h4 {
	font-family:"Guardian Egyptian Headline",Georgia,serif;
	font-weight:400;
	font-size:2.4em;
	text-align:center;
	line-height:1.5em;
	color:#767676
}

h5 {
	display:inline!important;
	font-family:"Guardian Egyptian Headline",Georgia,serif;
	font-weight:500;
	font-size:2.2em;
	text-align:left;
	line-height:1.2em;
	padding:0 0 12px;
	margin:0;
	color:#333
}

h6 {
	font-family:"Guardian Egyptian Headline",Georgia,serif;
	font-weight:400;
	font-size:1.8em;
	text-align:left;
	line-height:1.5em;
	padding:0;
	margin:0;
	color:#333
}

#interactive-container {
	width:100%;
	height:auto;
	-webkit-font-smoothing:antialiased
}

#top-bar {
	position:relative;
	top:0;
	left:0;
	height:4px;
	width:70px;
	background-color:#4bc6df
}

/* drop down */
#filter-label {
	float:right;
	top:15px;
	padding:0 12px 3px 0;
	font-weight:400;
	font-size:18px;
	font-family:"Guardian Agate Sans",Arial,sans-serif;
	line-height:1.8em
}

.styled-select {
	float:right;
	width:231px;
	height:34px;
	padding-left:9px;
	overflow:hidden;
	background:url(images/dropdown.gif) no-repeat 208px #fff;
	border:none;
	border-radius:17px
}

.styled-select:hover {
	background:url(images/dropdown-white.png) no-repeat 208px #767676
}

.styled-select:hover #filter-dropdown {
	color:#fff
}

#filter-dropdown {
	background:transparent;
	width:268px;
	padding:5px;
	font-size:16px;
	line-height:1;
	border:0;
	border-radius:0;
	height:34px;
	-webkit-appearance:none;
	font-family:"Guardian Agate Sans",Arial,sans-serif;
	line-height:1.3em;
	color:#767676;
	font-weight:600;
	cursor:pointer
}

#filter-dropdown option {
	padding:10px;
	border-bottom:1px solid #767676;
	font-weight:400;
	color:#767676;
	background:#fff
}

/* drop down end */
#top-header {
	position:absolute;
	float:left;
	clear:right;
	top:12px;
	left:6px;
	width:auto
}

#top-header h1 {
	font-family:"Guardian Egyptian Headline",Georgia,serif;
	font-size:24px;
	color:#4bc6df;
	width:auto;
	display:inline-block;
	margin-top:3px;
	margin-bottom:5px;
	margin-left:3px
}

#mapView {
	position:relative;
	left:3px;
	top:3px;
	width:100%;
	float:left;
	clear:right;
	border-top:1px solid #dcdcdc
}

#tsunamiGraphic {
	position:absolute;
	top:60px;
	width:100%;
	height:900px;
	background-image: url("../images/background1.png");
	background-repeat: no-repeat;
  	background-size: cover;
}

.country {
	fill:#767676;
	stroke:#333;
	stroke-width:.25px
}

.country-selected {
	fill:#4bc6df;
	stroke:#333;
	stroke-width:.25px
}

/* factbox graphics */
.area {
	fill:#4bc6df;
	stroke-width:0
}

.axis path,.axis line {
	fill:none;
	stroke:#DCDCDC;
	shape-rendering:crispEdges
}

#col-4-graphic {
	width:100%;
	margin:0 0 0 auto
}

#areaGraphHolder svg {
	background:none
}

.graphBarHolder {
	position:relative;
	height:180px;
	width:100%;
	margin:0 0 2px;
	background-color:#666;
	clear:right;
	float:left
}

.graphBarHolderInner {
	position:absolute;
	height:1px;
	background-color:#4bc6df;
	left:0;
	bottom:0;
	width:100%
}

#graphHolder {
	position:relative;
	width:96%;
	margin:24px 0 36px;
	padding:36px 4% 24px auto
}

.graphBarCaptionTopStack {
	font-family:"Guardian Egyptian Headline","Georgia",Georgia,serif;
	font-weight:400;
	font-size:1.3em;
	line-height:.9em;
	position:absolute;
	top:0;
	float:left;
	clear:right;
	width:auto;
	margin:3px 0 1px 3px
}

.graphBarCaptionBottomStack {
	clear:right;
	float:left;
	font-family:"Guardian Egyptian Headline","Georgia",Georgia,serif;
	font-size:2.7em;
	font-weight:400;
	line-height:1.2em;
	position:absolute;
	top:9px;
	width:auto;
	margin:6px 0 0 3px
}

.small-col-header {
	clear:right;
	color:#EFEFEF;
	float:left;
	clear:right;
	text-align:left;
	position:relative;
	left:12px;
	padding-top:3px;
	font-family:"Guardian Egyptian Headline",Georgia,serif;
	font-size:2.2em;
	font-weight:700;
	height:auto;
	line-height:1.2em
}

/* factbox graphics */
#heatmap-key {
	background-color:rgba(255,255,255,1);
	clear:right;
	float:left;
	left:0;
	padding:24px 0 3px 6px;
	position:relative;
	top:0;
	width:100%
}

#button-holder {
	position:relative;
	left:3px;
	top:3px;
	width:100%;
	float:left;
	clear:right;
	text-align:center;
	padding-top:23px;
	height:auto
}

.buttonnav {
	float:right;
	width:auto;
	min-width:80px;
	height:25px;
	border-radius:16px;
	text-align:center;
	margin:0 12px 12px 0;
	padding:7px 9px 0;
	font-family:"Guardian Agate Sans",Arial,sans-serif;
	font-size:15px;
	overflow:hidden;
	color:#FFF;
	background-color:#bdbdbd!important;
	cursor:pointer
}

.buttonnav-selected {
	float:right;
	width:auto;
	min-width:80px;
	height:25px;
	border-radius:16px;
	text-align:center;
	margin:0 12px 12px 0;
	padding:7px 9px 0;
	font-family:"Guardian Agate Sans",Arial,sans-serif;
	font-size:15px;
	color:#FFF;
	cursor:pointer
}

.copy-holder-top {
	clear:right;
	color:#005689;
	float:left;
	font-family:"Guardian Egyptian Headline",Georgia,serif;
	font-size:2.2em;
	font-weight:200;
	left:0;
	line-height:1.3em;
	margin:0 0 12px;
	border-left:1px solid #005689;
	padding:3px 0 0 10px;
	position:relative;
	width:450px;
	height:192px;
	background-color:#FFF
}

.large-number-top {
	font-family:"Guardian Egyptian Headline",Georgia,serif;
	font-weight:200;
	font-size:10em;
	float:left;
	text-align:left;
	padding:0 10px 0 0;
	width:225px;
	color:#005689
}

#mapView {
	position:relative;
	left:0;
	top:60px;
	width:99%;
	float:left;
	clear:right;
	border-top:1px solid #333
}

.factbox-holder-col-left {
	position:relative;
	width:96%;
	height:48px;
	float:left;
	clear:right;
	padding-right:4%
/*margin-bottom:100%;*/
}

.factbox-holder-col-right {
	width:96%;
	margin:24px 0;
	padding:12px 2% 36px;
	border-top:1px solid #dcdcdc
}

#factbox-holder {
	position:absolute;
	top:0;
	float:left;
	clear:right;
	margin:0 auto;
	padding-top:6px;
	max-width:1260px;
	min-width:300px;
	width:100%;
	border-top:1px solid #333;
	background-color:rgba(0,0,0,0.6)
}

.casualtyFigure {
	fill:#767676
}

.casualtyFigure-selected {
	fill:#4bc6df
}

.casualtyFigure-tourist {
	fill:#F60
}

/*timeline player*/
.timeline {
	position:absolute;
	height:auto;
	width:100%
}

.progressContainer {
	position:relative;
	width:98%;
	height:36px;
	left:0;
	border-top:1px solid #eee;
	padding-top:12px;
	background-color:#000
}

.playButton {
	width:32px;
	height:32px;
	border-radius:99999px;
	background:#333;
	position:absolute;
	cursor:pointer;
	left:3px
}

.playButton[data-status=paused]:before {
	content:'';
	position:absolute;
	display:block;
	width:0;
	height:0;
	border-style:solid;
	border-width:.4em 0 .4em .96em;
	border-color:transparent transparent transparent #f1f1f1;
	-moz-transform:scale(0.99999);
	top:50%;
	left:0;
	margin-top:-.4em;
	margin-left:1.2em
}

.playButton[data-status=playing]:before {
	content:'';
	position:absolute;
	display:block;
	height:13px;
	width:2px;
	border-right:4px solid;
	border-left:4px solid;
	border-color:#f1f1f1;
	left:11px;
	top:10px
}

.playButton:hover {
	background:#4cc5de
}

.playButton:hover[data-status=paused]:before {
	border-color:transparent transparent transparent #333
}

.playButton:hover[data-status=playing]:before {
	border-color:#333
}

.rangeContainer {
	margin-left:52px;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	margin-right:18px;
	top:7px;
	position:relative
}

#slider-range {
	border-radius:0!important;
	height:6px;
	background:#EFEFEF;
	border:1px solid #dcdcdc;
	margin-top:6px
}

#slider-range .noUi-handle {
	border-radius:50%!important;
	margin:1px 0 4px;
	height:20px;
	width:20px;
	background-color:#4bc6df!important;
	box-shadow:none;
	border:none;
	top:-10px;
	left:-10px;
	cursor:pointer
}

#slider-range .noUi-handle:after,.element-interactive #slider-range .noUi-handle:before {
	display:none!important;
	content:'';
	background-color:#4cc5de!important
}

.noUi-handle:before,.noUi-handle:after {
	background:none!important
}

#currentSliderInput {
	padding-top:3px;
	padding-bottom:3px;
	margin-top:10px;
	font-size:14px;
	font-weight:400;
	text-align:justify;
	border-top:1px solid;
	border-bottom:1px solid;
	border-color:#DFDFDF
}

/*end timeline css 




/* START RESPONSIVE */
@media only screen and (min-width : 740px) {
#topArea {
	margin-bottom:12px
}

#filter-block {
	position:absolute;
	top:18px;
	right:6px;
	color:#767676
}

#factbox-holder {
	left:12px
}

.factbox-holder-col-right,.factbox-holder-col-center-left,.factbox-holder-col-center-right {
	position:relative;
	width:47%;
	float:left;
	padding:0 10px;
	height:auto
}

.factbox-holder-col-center-right {
	border-right:none;
	border-left:1px solid #dcdcdc
}

.factbox-holder-col-right {
	width:98%
}

.large-number {
	font-family:"Guardian Egyptian Headline",Georgia,serif;
	font-weight:200;
	font-size:7.2em;
	float:left;
	clear:right;
	text-align:left;
	width:99.9%;
	padding:3px auto 12px 0;
	margin:0 .1% 0 0;
	color:#bdbdbd
}

.number-caption {
	font-family:"Guardian Egyptian Headline",Georgia,serif;
	font-weight:400;
	font-size:2.2em;
	line-height:1.2em;
	font-weight:200;
	text-align:left;
	color:#EFEFEF;
	padding:3px 10px 3px 0;
	clear:both
/*border-bottom: 1px dotted #005689;*/
}
}

@media only screen and (max-width : 739px) {
	#topArea {
		margin-bottom:48px
	}

	#filter-block {
		position:absolute;
		top:72px;
		right:18px;
		color:#767676
	}

	#factbox-holder {
		left:0
	}

	.factbox-holder-col-right,.factbox-holder-col-center-left,.factbox-holder-col-center-right {
		position:relative;
		width:96%;
		margin:0 2% 0 auto;
		padding:12px 0 24px;
		height:auto
	}

	.factbox-holder-col-center-right {
		border-right:none;
		border-left:none
	}

	.large-number {
		font-family:"Guardian Egyptian Headline",Georgia,serif;
		font-weight:200;
		font-size:3.6em;
		float:left;
		clear:right;
		text-align:left;
		width:98%;
		padding:3px auto 12px 0;
		margin:0;
		color:#bdbdbd
	}

	.number-caption {
		font-family:"Guardian Agate Sans",Arial,sans-serif;
		font-weight:400;
		font-size:1.5em;
		line-height:1.2em;
		font-weight:200;
		text-align:left;
		color:#EFEFEF;
		padding:3px 10px 3px 0;
		clear:both
	/*border-bottom: 1px dotted #005689;*/
	}
}

/* END RESPOSIVE */